@tailwind base;
@tailwind components;
@tailwind utilities;
/* .app {
&-btn {
	 width: 45%;
	 max-width: 160px;
	 color: #fff;
	 margin: 20px 10px;
	 text-align: left;
	 border-radius: 5px;
	 text-decoration: none;
	 font-family: "Lucida Grande", sans-serif;
	 font-size: 10px;
	 text-transform: uppercase;
&.blu {
	 background-color: #101010;
	 transition: background-color 0.25s linear;
&:hover {
	 background-color: #454545;
 }
} */
i {
	width: 20%;
	text-align: center;
	font-size: 28px;
	margin-right: 7px;
}
.big-txt {
	font-size: 17px;    
	text-transform: capitalize;
}


/*------------------------------------*/


/*end ------------------ end of button*/
body {
	font-family: 'Raleway', sans-serif;
	background-color: #000;
	overflow-x : hidden;

}

.text-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-container h1{
	margin-bottom: 125px;
	margin-left : 15%;
	margin-right: 15%;
	font-size: 5vmax;
	color: rgba(225,225,225, .01);
	background-image: url("https://i.ibb.co/7JVFpqL/clothes-items-white-background-seamless-pattern-thin-line-48369-13298.jpg");
	background-repeat: repeat;
	-webkit-background-clip:text;
	animation: animate 60s ease-in-out infinite;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
}

@keyframes animate {
	0%, 100% {
		background-position: left top;
	}
	25%{
		background-position: right bottom;
	}
	50% {
		background-position: left bottom;
	}
	75% {
		background-position: right top;
	}
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	top: calc(85vh - 80px);
	left: calc(50% - 14px);




}

.arrows path {
	stroke: #2994D1;
	fill: transparent;

	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/*yoooo --------------------*/
/*.bg {*/
/*    animation:slide 30s ease-in-out infinite alternate;*/
/*    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);*/
/*    bottom:0;*/
/*    left:-50%;*/
/*    opacity:.5;*/
/*    position:fixed;*/
/*    right:-50%;*/
/*    top:0;*/
/*    z-index:-1;*/
/*}*/

/*.bg2 {*/
/*    animation-direction:alternate-reverse;*/
/*    animation-duration:4s;*/
/*}*/

/*.bg3 {*/
/*    animation-duration:5s;*/
/*}*/

/*.content {*/
/*    background-color:rgba(255,255,255,.8);*/
/*    border-radius:.25em;*/
/*    box-shadow:0 0 .25em rgba(0,0,0,.25);*/
/*    box-sizing:border-box;*/
/*    left:50%;*/
/*    padding:10vmin;*/
/*    position:fixed;*/
/*    text-align:center;*/
/*    top:50%;*/
/*    transform:translate(-50%, -50%);*/
/*}*/

/*h1 {*/
/*    font-family:monospace;*/
/*}*/

/*@keyframes slide {*/
/*    0% {*/
/*        transform:translateX(-25%);*/
/*    }*/
/*    100% {*/
/*        transform:translateX(25%);*/
/*    }*/
/*}*/



/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Exo thin font from Google. */
/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}
@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@-moz-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@-o-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
@keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}
/* Main styles */
body {

	color: #999;
	font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
	text-align: center;
	/* img size is 50x50 */
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
	-webkit-animation: bg-scrolling-reverse 0.92s infinite;
	/* Safari 4+ */
	-moz-animation: bg-scrolling-reverse 0.92s infinite;
	/* Fx 5+ */
	-o-animation: bg-scrolling-reverse 0.92s infinite;
	/* Opera 12+ */
	animation: bg-scrolling-reverse 0.92s infinite;
	/* IE 10+ */
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

/*--------------------------------------------------------------------------------------------------*/


